.App {
  margin: 0;
  padding: 0;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.mainContainer {
  width: 80%;
  min-height: 100px;
  /* padding: 20px 0; */
  margin: 20px 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  flex-direction: column;
}

.btn {
  background-color: #e3242b;
  color: white;
  width: 80px;
  height: 30px;
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 0;
  border: none;
  padding: 2px;
  border-radius: 16px;
  font-weight: bold;
}

.btn:active {
  background-color: #800000;
}

.btn:hover {
  opacity: 0.95;
}
